flask_cors
Flask==2.0.1
gunicorn==20.1.0
Jinja2==3.0.1
psycopg2==2.9.1
flask_admin
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.18
sqlalchemy_utils
MarkupSafe==2.0.1
itsdangerous==2.0.1
Werkzeug==2.0.1
flask_bootstrap
wtforms_sqlalchemy
flask_wtf
wtforms
flask_mail
pyjwt
email_validator
requests